

<div class="card shadow mb-4">
  <h4 class="card-header">
    Category
  </h4>
  <div class="card-body">
    <form method="POST">
      
      <div class="form-group">
        <p style="color: black;padding-bottom:20px" for="txtName">Name</p></p style="">
        <input type="text" class="form-control" id="txtuname" name="uname" placeholder="Enter user name"
          autofocus >
          
      </div>
      
      <div class="form-group">
        <p style="color: black;padding-bottom:20px" for="txtBirthday">Birthday</p style="">
        {{!-- <%= Html.Encode("1998-01-08T17:00:00.000Z".BirthDate.ToString("MM/dd/yyyy")) %> --}}
        <input type="text" class="form-control" id="txtbirthday" name="birthday" placeholder="Enter birthday"
           >
      </div>
      <div class="form-group">
        <p style="color: black;padding-bottom:20px" for="txtPass">PassWord</p style="">
        <input type="text" class="form-control" id="txtpass" name="pass" placeholder="Enter password"
           >
      </div>
      <div class="form-group">
        <p style="color: black;padding-bottom:20px" for="txtAddress">Address</p style="">
        <input type="text" class="form-control" id="txtaddress" name="address" placeholder="Enter address"
           >
      </div>
      <div class="form-group">
        <p style="color: black;padding-bottom:20px" for="txtScore_plus">Score_plus</p style="">
        <input type="text" class="form-control" id="txtscore_plus" name="score_plus" placeholder="Enter Score"
           >
      </div>
      <div class="form-group">
        <p style="color: black;padding-bottom:20px" for="txtScore_sub">Score_sub</p style="">
        <input type="text" class="form-control" id="txtscore_sub" name="score_sub" placeholder="Enter Score"
           >
      </div>
      <div class="form-group">
        <p style="color: black;padding-bottom:20px" for="txtEmail">Email</p style="">
        <input type="text" class="form-control" id="txtemail" name="email" placeholder="Enter email"
           >
      </div>
      <div class="form-group">
        <p style="color: black;padding-bottom:20px" for="txtPosition">Position</p style="">
        <input type="text" class="form-control" id="txtposition" name="position" placeholder="Enter position"
           >
      </div>
      <div class="form-group">
        <p style="color: black;padding-bottom:20px" for="txtState">State</p style="">
        <input type="text" class="form-control" id="txtstate" name="state" placeholder="Enter state"
           >
      </div>
      <a class="btn btn-outline-primary" href="/admin/users" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Danh sách
      </a>
      
      <button type="submit" class="btn btn-outline-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Thêm
      </button>
      
    </form>
  </div>
  
</div>
<script>

function convert() {
  var tr="Thu Jun 09 2011 00:00:00 GMT+0530 (India Standard Time)"
  var date = new Date(str),
    mnth = ("0" + (date.getMonth() + 1)).slice(-2),
    day = ("0" + date.getDate()).slice(-2);
  return [date.getFullYear(), mnth, day].join("-");
}


</script>