<!-- https://preview.themeforest.net/item/classiera-classified-ads-wordpress-theme/full_screen_preview/14138208?ref=cirvitis&irgwc=1&clickid=Sq-X6n0uUxyORxWwUx0Mo3QwUkn1GHXBZWWs3E0&iradid=275988&irpid=369282&iradtype=ONLINE_TRACKING_LINK&irmptype=mediapartner&mp_value1=&utm_campaign=af_impact_radius_369282&utm_medium=affiliate&utm_source=impact_radius -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>đấu giá</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap4/bootstrap.min.css">
    <link href="../plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="../plugins/slick-1.8.0/slick.css">
    <link rel="stylesheet" type="text/css" href="../styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/responsive.css">

    <link rel="stylesheet" type="text/css" href="../styles/blog_styles.css">


</head>

<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">

            <!-- Top Bar -->

            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <div class="top_bar_contact_item">
                                <div class="top_bar_icon"><img src="../images/phone.png" alt=""></div>+38 123 123 123</div>
                            <div class="top_bar_contact_item">
                                <div class="top_bar_icon"><img src="../images/mail.png" alt=""></div><a href="#">daugiatructuyen@gmail.com</a></div>
                            <div class="top_bar_content ml-auto">

                                <div class="top_bar_user">
                                    <div class="user_icon"><img src="../images/user.svg" alt=""></div>
                                    <div><a href="signup">Đăng ký</a></div>
                                    <div><a href="signin">Đăng nhập</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Main -->

            <div class="header_main">
                <div class="container">
                    <div class="row">

                        <!-- Logo -->
                        <div class="col-lg-2 col-sm-3 col-3 order-1">
                            <div class="logo_container">
                                <div class="logo"><a href="#">DauGia</a></div>
                            </div>
                        </div>

                        <!-- Search -->
                        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                            <div class="header_search">
                                <div class="header_search_content">
                                    <div class="header_search_form_container">
                                        <form action="#" class="header_search_form clearfix">
                                            <input type="search" id="noidung_tk" required="required" class="header_search_input" placeholder="Tìm kiếm">
                                            <div class="custom_dropdown">
                                                <div class="custom_dropdown_list">
                                                    <span class="custom_dropdown_placeholder clc">Tất cả</span>
                                                    <i class="fas fa-chevron-down"></i>
                                                    <ul class="custom_list clc">
                                                        <li><a class="clc" href="#">Tất cả</a></li>
                                                        <li><a class="clc" href="#">Máy tính xách tay</a></li>
                                                        <li><a class="clc" href="#">Điện thoại di động</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <a href="search_product"><button type="button"  class="btn btn-primary float-right header_search_button trans_300" value="Submit" onclick="search()"><img src="../images/search.png" alt=""></button></a>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Wishlist -->
                        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                                <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                                    <div class="wishlist_icon"><img src="../images/heart.png" alt=""></div>
                                    <div class="wishlist_content">
                                        <div class="wishlist_text"><a href="#">Đã thắng</a></div>
                                        <div class="wishlist_count">10</div>
                                    </div>
                                </div>

                                <!-- Cart -->
                                <div class="cart">
                                    <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                        <div class="cart_icon">
                                            <img src="../images/cart.png" alt="">
                                            <div class="cart_count"><span>20</span></div>
                                        </div>
                                        <div class="cart_content">
                                            <div class="cart_text"><a href="#">Lượt đấu</a></div>
                                            <div class="cart_price">$100</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->

            <nav class="main_nav">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <div class="main_nav_content d-flex flex-row">

                                <!-- Categories Menu -->

                                <div class="cat_menu_container">
                                    <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                                        <div class="cat_burger"><span></span><span></span><span></span></div>
                                        <div class="cat_menu_text">Loại sản phẩm</div>
                                    </div>

                                    <ul class="cat_menu">
                                        <li><a href="laptop">Máy tính xách tay <i class="fas fa-chevron-right ml-auto"></i></a></li>
                                        <li><a href="mobiphone">Điện thoại di động<i class="fas fa-chevron-right"></i></a></li>

                                    </ul>
                                </div>

                                <!-- Main Nav Menu -->

                                <div class="main_nav_menu ml-auto">
                                    <ul class="standard_dropdown main_nav_dropdown">
                                        <li><a href="home">Trang chủ<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="introduce">Giới thiệu<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="news">Tin tức<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="member">Thành viên<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="partner">Đối tác<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="contact">Liên hệ<i class="fas fa-chevron-down"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Chi tiết sản phẩm -->
            <div class="main">
                <div class="container">
                    <div class="core_middle_wrap">
                        <div id="core_ajax_callback"></div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-10">
                                <h2 style="font-weight: bold;font-family: Arial, Helvetica, sans-serif;color:darkgrey"><a href="#"><span>Điện thoại Iphone XS max chất lượng thời đại</span></a></h1>

                                    <span class="wlt_shortcode_category"><a href="#" rel="tag">Điện thoại thông minh</a></span> / / <span class="wlt_shortcode_favs"><a class="list_favorites_add " href="#"><span>Thêm vào Yêu thích</span></a>
                                    </span> / <i class="fa fa-signal"></i> <span class="wlt_shortcode_hits">639</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="singleimg text-center">
                                    <a href="#" data-gal="prettyPhoto"><img src="../images/mo_iphone.PNG" alt="" class="wlt_thumbnail img-responsive img-responsive"></a>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div id="auctionbidform">
                                    <ul class="list-group">
                                        <ul style="font-size: 20px;" class="list-group">

                                            <li style="color: rgb(107, 185, 29);" class="list-group-item item1">
                                                <i class=" bidhistoryicon"></i> Giá hiện tại: <strong>3000 0000 vnđ </strong>

                                            </li>
                                            <li class="list-group-item item1">
                                                <i class="fa fa-search bidhistoryicon"></i> Lượt đấu giá: <strong>3 </strong>
                                                <span style="padding-left:80px ;" class="pull-right">
                                                        <small>Mua ngay:</small>:  <i style="color:aquamarine;" class="fa fa-shopping-cart"></i> <a href="#">3500000vnđ</a>	
                                                </span>
                                            </li>
                                            <li class="list-group-item item1">

                                                <span class="pull-right">
                                                        <small>Cao nhất</small>:  <i style="color:aquamarine;" class="fa fa-user"></i> <a href="#">nttthuymo</a>	                                  
                                                </span>
                                                <i style="padding-left: 40px;color: yellow;" class="fa fa-star bidhistoryicon"></i> Đánh giá: 3023
                                            </li>

                                            <li class="list-group-item item4">
                                                <div class="row">

                                                    <span style="padding-left:10px ;" class="pull-right">
                                                                    <span  class="pull-right">
                                                                            <small>Người bán</small>:  <i style="color:aquamarine;" class="fa fa-user"></i> <a href="#">hanhuyvu</a>	
                                                                                
                                                                        </span>

                                                    <i style="padding-left: 40px;color: yellow;" class="fa fa-star bidhistoryicon"></i> Đánh giá: 2023
                                                    </span>

                                                </div>
                                            </li>

                                            <li class="list-group-item item4">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Giá của bạn</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
															  <option>3100000vnđ</option>
															  <option>3200000vnđ</option>
															  <option>3350000vnđ</option>
															  <option>3500000vnđ</option>
															</select> </li>

                                            <li class="list-group-item item4">
                                                Đã đăng: 30 Tháng Tám, 2019 8:40 sáng <br>
                                                <p style="font-size: 20px; color: red;">Còn lại:<i class="fa fa-bell"></i> 0:30:10'</p>
                                            </li>
                                        </ul>
                                        <hr>
                                        <div style="display: flex; justify-content: center;">

                                            <input type="submit" value="Đấu giá" class="btn btn-primary btn-lg" style="width:40%; margin: 30px;">
                                            <input type="submit" value="Yêu thích" class="btn btn-danger btn-lg" style="width:40%; margin: 30px;">


                                        </div>
                                        </div>
                                </div>


                                <p> Lịch sử đấu giá của sản phẩm</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="bg-info" scope="col">Người dùng</th>
                                            <th class="bg-info" scope="col">Giá</th>
                                            <th class="bg-info" scope="col">Thời gian</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">****Khoa</th>
                                            <td>3450 0000 vnđ </td>
                                            <td>24-11-2019 10:39:33 ICT</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">****Quang</th>
                                            <td>3400 0000 vnđ </td>
                                            <td>24-11-2019 10:34:41 ICT</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">****Tuấn </th>
                                            <td>3300 0000 vnđ </td>
                                            <td>24-11-2019 10:30:04 ICT</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">****Minh </th>
                                            <td>3150 0000 vnđ </td>
                                            <td>24-11-2019 10:30:00 ICT</td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                            <hr>


                            <hr>

                            <ul class="nav nav-tabs container2" id="Tabs">
                                <li style="padding-left:30px ;" class="active"><a href="#t1" data-toggle="tab" aria-expanded="true">Mô tả</a></li>
                                <li style="padding-left:30px ;" class=""><a href="#t2" data-toggle="tab" aria-expanded="false"> Chi tiết </a></li>
                                <li style="padding-left:30px ;" class=""><a href="#t3" data-toggle="tab" aria-expanded="false">Gợi ý</a></li>
                            </ul>

                            <div class="tab-content">

                                <div style="margin:50px;margin-top: 20px;" class="tab-pane active in" id="t1">
                                    <div class="core_post_content">
                                        <p style="font-size: 17px;color:darkslategrey;">Mã sản phẩm: ORDERQC<br> Thương hiệu: Thương hiệu khác<br> Tình trạng: Mới<br> Màu sắc: Đỏ tía, hồng, bạc, vàng</p>
                                    </div>
                                </div>

                                <div style="margin:50px;margin-top: 20px;" class="tab-pane" id="t3">
                                    <div class="container">
                                        <div class="row">

                                            <div class="col-sm-2" style=" max-width:20%; flex: 0 0 20%;">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <a href="detail_product" target="_blank">
                                                                <img src="../images/new_2.jpg" alt="">
                                                                <h4>3.000.000VNĐ</h4>
                                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Transcend T.Sonic</p>
                                                                <p><i class="fas fa-hammer"></i>2 lượt đấu giá</p>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <a href="detail_product" target="_blank">
                                                                <img src="../images/new_6.jpg" alt="">
                                                                <h4>1.000.000VNĐ</h4>
                                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Nokia 3310(2017)</p>
                                                                <p><i class="fas fa-hammer"></i>5 lượt đấu giá</p>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <a href="detail_product" target="_blank">
                                                                <img src="../images/new_10.jpg" alt="">
                                                                <h4>2.000.000VNĐ</h4>
                                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Huawei MediaPad</p>
                                                                <p><i class="fas fa-hammer"></i>3 lượt đấu giá</p>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <a href="detail_product" target="_blank">
                                                                <img src="../images/new_2.jpg" alt="">
                                                                <h4>3.000.000VNĐ</h4>
                                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Easy Polo Black </p>
                                                                <p><i class="fas fa-hammer"></i>1 lượt đấu giá</p>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <a href="detail_product" target="_blank">
                                                                <img src="../images/best_1.png" alt="">
                                                                <h4>5.000.000VNĐ</h4>
                                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Xiaomi Redmi Note 4</p>
                                                                <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>



                                        </div>

                                    </div>


                                </div>

                                <div class="tab-pane fade" id="t2">
                                    <!-- START COMMENT BLOCK -->
                                    <div class="clearfix"></div>
                                    <div style="display: inline-flex;">
                                        <div class="col-sm-4" style="max-width:100%; flex: 0 0 50%;">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="../images/mo_iphone1.PNG">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="max-width:100%; flex: 0 0 50%;">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="../images/mo_iphone2.PNG" style="height: 210px;width: 200px;">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="max-width:100%; flex: 0 0 50%;">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="../images/mo_iphone3.PNG" style="height: 210px;;width: 250px;">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- Newsletter -->

                    <div class="newsletter">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
                                        <div class="newsletter_title_container">
                                            <div class="newsletter_icon"><img src="../images/send.png" alt=""></div>
                                            <div class="newsletter_title">Đăng ký thông tin</div>
                                            <div class="newsletter_text">
                                                <p>...Nhận mã giảm giá 20% cho lần mua đầu</p>
                                            </div>
                                        </div>
                                        <div class="newsletter_content clearfix">
                                            <form action="#" class="newsletter_form">
                                                <input type="email" class="newsletter_input" required="required" placeholder="Nhập địa chỉ email">
                                                <button class="newsletter_button">Đăng ký</button>
                                            </form>
                                            <!-- <div class="newsletter_unsubscribe_link"><a href="#">unsubscribe</a></div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Footer -->

                    <footer class="footer">
                        <div class="container">
                            <div class="row">

                                <div class="col-lg-3 footer_col">
                                    <div class="footer_column footer_contact">
                                        <div class="logo_container">
                                            <div style="font-family: Arial, Helvetica, sans-serif" class="logo"><a href="#">Đấu giá</a></div>
                                        </div>
                                        <div style="font-family: Arial, Helvetica, sans-serif" class="footer_title">Liên hệ 24/7</div>
                                        <div class="footer_phone">+38 068 005 3570</div>
                                        <div class="footer_contact_text">
                                            <p>135B Trần Hưng Đạo</p>
                                            <p>Quận 1, TP Hồ Chí Minh</p>
                                        </div>
                                        <div class="footer_social">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                                <li><a href="#"><i class="fab fa-google"></i></a></li>
                                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 offset-lg-2">
                                    <div class="footer_column">
                                        <div style="font-family: Arial, Helvetica, sans-serif" class="footer_title">Liên kết nhanh</div>
                                        <ul style="list-style: none;" class="footer_list">
                                            <li><a href="introduce">Giới thiệu</a></li>
                                            <li><a href="news">Tin tức</a></li>
                                            <li><a href="member">Thành viên</a></li>
                                            <li><a href="partner">Đối tác</a></li>
                                            <li><a href="contact">Liên hệ</a></li>
                                        </ul>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </footer>

                    <!-- Copyright -->

                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col">

                                    <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                                        <div class="copyright_content">
                                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                            Copyright &copy;
                                            <script>
                                                document.write(new Date().getFullYear());
                                            </script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        </div>
                                        <div class="logos ml-sm-auto">
                                            <ul class="logos_list">
                                                <li>
                                                    <a href="#"><img src="../images/logos_1.png" alt=""></a>
                                                </li>
                                                <li>
                                                    <a href="#"><img src="../images/logos_2.png" alt=""></a>
                                                </li>
                                                <li>
                                                    <a href="#"><img src="../images/logos_3.png" alt=""></a>
                                                </li>
                                                <li>
                                                    <a href="#"><img src="../images/logos_4.png" alt=""></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function search() {
                        // var x = parseInt(frmMain.txtX.value);
                        return true;
                    }
                </script>

                <script src="../js/jquery-3.3.1.min.js"></script>
                <script src="../styles/bootstrap4/popper.js"></script>
                <script src="../styles/bootstrap4/bootstrap.min.js"></script>
                <script src="../plugins/greensock/TweenMax.min.js"></script>
                <script src="../plugins/greensock/TimelineMax.min.js"></script>
                <script src="../plugins/scrollmagic/ScrollMagic.min.js"></script>
                <script src="../plugins/greensock/animation.gsap.min.js"></script>
                <script src="../plugins/greensock/ScrollToPlugin.min.js"></script>
                <script src="../plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
                <script src="../plugins/slick-1.8.0/slick.js"></script>
                <script src="../plugins/easing/easing.js"></script>
                <script src="../js/custom.js"></script>
</body>

</html>