
    <!-- =giới thiệu -->
<div style="margin-top: 50px;margin-left: 100px;margin-right: 100px;" class="main">

        <div  style=" font-family: Arial, Helvetica, sans-serif;font-size:15px;" class="container1"> 
                
            <div style="font-size:20px;color:white;background-color:cadetblue;border-color: #ddd;padding-left:50px">Giới thiệu</div>  
                    <div style="padding:50px">
    
    
                            <div><span>Với sự phát triển mạnh mẽ của internet, thì cụm từ “bán hàng online”, “kinh doanh trực tuyến”… đã không còn là điều mới mẻ. Như các bạn biết hiện nay thị trường thương mại điện tử Việt Nam hay còn gọi là kinh doanh online đang bước vào giai đoạn bùng nổ mạnh mẽ, các website thương mại điện tử, diễn đàn bán hàng online, các gian hàng trực tuyến, sàn đấu giá online… được mở ra ào ạt với đủ các chiêu thức để thu hút mọi người tham gia, vì vậy việc có một shop bán hàng online là điều hoàn toàn dễ dàng. Tuy nhiên các hình thức kinh doanh online này vẫn còn rất nhiều hạn chế như: <strong><em>chưa cung cấp được các công cụ kinh doanh cần thiết, chưa thực sự thuận tiện, an toàn cho khách hàng khi giao dịch online, chưa đặt lợi ích và nguyện vọng chính đáng của khách hàng lên hàng đầu…</em></strong>hoặc có thì cũng như kiểu “cưỡi ngựa xem hoa”. Điều này đã trực tiếp gây ra những phiền toái, khó khăn cho những người có nhu cầu kinh doanh online thực sự.</span><br>
                                <span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Từ sự thấu hiểu đó, chúng tôi đã cho ra đời sản phẩm <a href="home"><strong>Sàn đấu giá trực tuyến</strong></a> nhằm mục đích cung cấp một hành trang đầy đủ và ưu việt nhất cho tất cả mọi người có đam mê kinh doanh trực tuyến, bán hàng online…Các tính năng cho việc thực hiện giao dịch online được chúng tôi giành rất nhiều thời gian và tâm huyết để nghiên cứu, phát triển như<strong>:&nbsp;Đánh giá sản phẩm – Đặt hàng trực tuyến – Thanh toán trực tuyến – Thông báo bằng email – Bảo đảm người bán – An toàn người mua – Lọc tìm kiếm sản phẩm – Vận chuyển toàn quốc</strong>.</span></div>
                                <div>
                                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong><span>Sàn đấu giá trực tuyến</span></strong><span>&nbsp;với mục tiêu cao nhất là đem lại lợi ích mua sắm online cho mọi khách hàng, mọi người đều có thể bán đấu giá các sản phẩm đẹp, độc, lạ… của mình và <strong>đều có thể</strong> tham gia đấu giá sản phẩm mà <strong>không cần phải mua xu hay đặt cọc tiền trước</strong>, đặc biệt hoàn toàn <strong>không mất phí</strong> nếu đấu giá không thành công.&nbsp;</span><span><strong>Lợi ích khi tham gia giao dịch tại Sàn Đấu Giá Trực Tuyến:&nbsp;</strong></span></p>
                                </div>
                                <ul style="padding-left: 50px;">
                                <li ><span><strong>&nbsp; &nbsp;Đối với người bán:</strong></span>
                                <ul style="padding-left: 50px; list-style:circle">
                                <li><span><em>Mở shop online miễn phí</em></span></li>
                                <li><span><em>Bán hàng online trên toàn quốc</em></span></li>
                                <li><span><em>Có thể bán hàng đấu giá hoặc bán hàng truyền thống</em></span></li>
                                <li><span><em>Có thể liên lạc trực tiếp với người mua để thỏa thuận giao dịch</em></span></li>
                                <li><span><em>Không giới hạn số lượng sản phẩm trên gian hàng</em></span></li>
                                <li><span><em>Không phải up hàng liên tục</em></span></li>
                                <li><span><em>Không tốn phí duy trì gian hàng</em></span></li>
                                <li><span><em>Cơ hội tiếp cận hàng ngàn khách hàng mổi ngày tại Sàn Đấu Giá Trực Tuyến</em></span></li>
                                </ul>
                                </li>
                                <li ><span><strong>Đối với người mua hàng:</strong></span>
                                <ul style="padding-left: 50px; list-style:circle">
                                <li><span><em>Mua hàng trên Chợ đấu giá được bảo đảm giao dịch cho đến khi giao dịch thành công</em></span></li>
                                <li><span><em>Hoàn tiền 100% đối với đơn hàng không nhận được hàng, nhận không đúng hàng</em></span></li>
                                <li><span><em>Được tham giá đấu giá cực kỳ thú vị mà không hề mất phí</em></span></li>
                                </ul>
                                </li>
                                </ul>
                                <p ><b>Các tính năng của Sàn đấu giá trực tuyến</b></p>
                                <ul style="padding-left: 50px;">
                                <li><strong>Mở Shop online:</strong> Sàn đấu giá trực tuyến cung cấp công cụ cho bạn mở shop online, chỉ vài thao tác đơn giản bạn đã có thể khởi tạo gian hàng online cho mình một cách dễ dàng, từ đây bạn có cơ hội tiếp cận hàng ngàn khách hàng mổi ngày trên daugiatructuyen.vn</li>
                                <li><strong>Bán hàng online tại Sàn đấu giá trực tuyến:</strong> Sau khi đã khởi tạo gian hàng thành công, bạn tiếp tục đăng sản phẩm lên shop của mình tại Sàn Đấu Giá, tại sàn đấu giá mổi sản phẩm bạn có thể đăng bán nhiều màu khác nhau, nhiều Size khác nhau, mà không cần phải tạo nhiều sản phẩm cho mổi màu mổi size, rất tiện lợi và nhanh chóng</li>
                                <li><strong>Theo dõi đơn đặt hàng trên Shop online tại Sàn Đấu Giá Trực Tuyến:</strong> Đăng nhập tài khoản của bạn tại Sàn Đấu giá trực tuyến – Click vào quản lý gian hàng, tại đây bạn sẽ nhìn thấy tất cả các đơn đặt hàng của mình và có thể thao tác cập nhật thông tin giao hàng cho khách hàng một cách nhanh chóng</li>
                                </ul>
                                <p><b>Đặt hàng và thanh toán trực tuyến: Tại Sàn Đấu Giá Trực Tuyến chúng tôi cung cấp các công cụ thanh toán cực kỳ tiện lợi và dễ dàng sử dụng với tât cả các khách hàng, gồm 3 hình thức thanh toán</b></p>
                                <ol style="padding-left: 50px;">
                                <li>Thanh toán trực tuyến qua thẻ ATM: đã đăng ký sử dụng dịch vụ internet banking với ngân hàng cung cấp thẻ</li>
                                <li>Thanh toán trực tuyến qua thẻ thanh toán quốc tế như Visa, Mastercard, JCB…</li>
                                <li>Thanh toán sau: bạn có thể chọn thanh toán sau sau đó nộp tiền mặt tại VP hoặc chuyển khoản ngân hàng vào các tài khoản của Sàn Đấu Giá Trực Tuyến</li>
                                </ol>
                    </div>
         
            </div>
             
        </div>
