 <!-- Banner -->

            <div class="banner">
                <div class="banner_background" style="background-image:url(../images/banner_background.jpg)"></div>
                <div class="container fill_height">
                    <div class="row fill_height">
                        <div class="banner_product_image"><img src="../images/banner_product.png" alt=""></div>
                        <div class="col-lg-5 offset-lg-4 fill_height">
                            <div class="banner_content">
                                <h1 class="banner_text">Sản phẩm Smartphone mới</h1>
                                <div class="banner_price"><span>$530</span>$460</div>
                                <div class="banner_product_name">Apple Iphone 6s</div>
                                <div class="button banner_button"><a href="#">Đấu giá</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            </br>
            </br>



            <!-- Loại laptop -->

            <div class="container4" style="padding: 20px;">

                <div class=" container">
                    <h1 style="font-weight: bold;font-family: Arial, Helvetica, sans-serif;color:darkslategrey">Thiết bị thông minh</h1>
                    <h4 style="font-weight: bold;font-family: Arial, Helvetica, sans-serif;color:darkslategrey">Chúng tôi đã tìm thấy các mục % a phù hợp với truy vấn tìm kiếm của bạn.</h4>
                    <div style="margin-bottom: 40px;" class="tabs_line"><span></span></div>

                    <ul style="display:flex;font-size: 20px;font-family: Arial, Helvetica, sans-serif;" class="list-inline orderby clearfix">

                        <li><strong>Sắp xếp bởi: </strong></li>

                        <div class="form-group">
                            <label style="padding-left: 5px; color:#ddd;"></label>
                            <select style="margin-left: 0px;" name="uv" class="form-control">
										<option value="user_login,user_email">--- Tự chọn --</option>
										<option value="price_ace">Giá tăng</option>
										<option value="price_dec">Giá giảm</option>
										<option value="time_ace">Thời gian kết thúc giảm dần</option>
										<option value="time_dec">Thời gian kết thúc tăng dần</option>
										</select>
                        </div>

                    </ul>

                    <div style="margin-top: 50px;" class="row">


                        <div class="col-sm-2" style=" max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap1.png" alt="">
                                            <h4>12.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Easy Polo Black</p>
                                            <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap2.png" alt="">
                                            <h4>12.500.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Huawei MediaPad</p>
                                            <p><i class="fas fa-hammer"></i>3 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap3.png" alt="">
                                            <h4>13.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Apple iPod shuffle</p>
                                            <p><i class="fas fa-hammer"></i>2 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img style="height: 116px;" src="../images/mo_lap4.png" alt="">
                                            <h4>12.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Sony MDRZX310W</p>
                                            <p><i class="fas fa-hammer"></i>2 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap5.png" alt="">
                                            <h4>12.400.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">LUNA Smartphone</p>
                                            <p><i class="fas fa-hammer"></i>4 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>

                </div>


                </br>
                </br>

                <div class="container">
                    <div class="row">


                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap6.png" alt="">
                                            <h4>13.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Transcend T.Sonic</p>
                                            <p><i class="fas fa-hammer"></i>2 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap7.png" alt="">
                                            <h4>11.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Nokia 3310(2017)</p>
                                            <p><i class="fas fa-hammer"></i>5 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap8.png" alt="">
                                            <h4>2.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Huawei MediaPad</p>
                                            <p><i class="fas fa-hammer"></i>3 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap9.png" alt="">
                                            <h4>13.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Easy Polo Black </p>
                                            <p><i class="fas fa-hammer"></i>1 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap10.png" alt="">
                                            <h4>15.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Xiaomi Redmi Note 4</p>
                                            <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>

                </div>


                </br>
                </br>

                <div class="container">
                    <div class="row">


                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap11.png" alt="">
                                            <h4>15.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Xiaomi Redmi Note 4</p>
                                            <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap12.png" alt="">
                                            <h4>12.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Samsung Charm Gold</p>
                                            <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap13.png" alt="">
                                            <h4>17.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Huawei MediaPad T3</p>
                                            <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap14.png" alt="">
                                            <h4>18.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Opple Neo3</p>
                                            <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap15.png" alt="">
                                            <h4>19.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Iphone 6X</p>
                                            <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                            <p><i class="fa fa-heart" style="color: crimson;">Yêu thích</i></p>

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div style="display: flex; justify-content: center;">
                    <div style="display: flex;justify-content: center;;align-items: center ;margin-top: 50px " class="pagination center">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a class="active" href="#">2</a>
                        <a href="#">3</a>

                        <a href="#">&raquo;</a>
                    </div>

                </div>


            </div>

