<div class="newsletter">
                <div class="container">
 
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
                                <div class="newsletter_title_container">
                                    <div class="newsletter_text">
                                        <b>Nâng cấp tài khoản lên seller</b>
                                    </div>
                                </div>
                                <div class="newsletter_content clearfix">
                                    <button type="button" class="btn btn-warning">Nâng cấp</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <h3> Danh sách sản phẩm mà mình đã thắng</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="bg-info" scope="col">Sản phẩm</th>
                                <th class="bg-info" scope="col">Giá</th>
                                <th class="bg-info" scope="col" colspan="2">Nhận xét</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="">Điện thoại Iphone XS max chất lượng thời đại</a></th>
                                <td>3450 0000 vnđ </td>
                                <td><i onclick="myFunction(this)" class="glyphicon glyphicon-thumbs-up"></i>
                                    <td><button type="button" class="btn btn-success">Thêm nhận xét</button></td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="">Xiaomi Redmi Note 4</a></th>
                                <td>5400 0000 vnđ </td>
                                <td><i onclick="myFunction(this)" class="glyphicon glyphicon-thumbs-up"></i>
                                    <td><button type="button" class="btn btn-success">Thêm nhận xét</button></td>
                            </tr>

                        </tbody>
                    </table>

                    <h3>Danh sách sản phẩm mà mình đang tham gia đấu giá
                    </h3>
                    <table class="table">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Thời gian</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">Điện thoại Iphone 11 Pro max</a></th>
                                <td>22 250 000 vnđ </td>
                                <td>24-11-2019 10:39:33 ICT</td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="">Samsung Note 7</a></th>
                                <td>14 000 000 vnđ </td>
                                <td>24-11-2019 10:39:33 ICT</td>
                            </tr>

                        </tbody>
                    </table>

                </div>



            </div>