 <div style="margin-left:60px"  class="container ">
			<div style="margin-top: 50px; margin-left:0px" class="row" >
				
				
				<div class="col-sm-4" style="font-family: Arial, Helvetica, sans-serif; max-width:100%; flex: 0 0 33%;">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								
                                <img style=" width: 350px;" src="../images/mo_new1.png" alt="" >
                                <h4 style="font-family: Arial, Helvetica, sans-serif;">Ứng dụng nhắn tin tham vọng huy động 125 triệu USD thông qua phát hành tiền số</h4>
                                <p style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)" >Sử dụng nền tảng blockchain, công nghệ đứng sau đồng tiền số nổi tiếng bitcoin, các vụ ICO cho phép các công ty có thể huy động được hàng triệu USD
                                        <a href="https://daugianhanh.vn/2017/08/31/cap-bien-aag-lai-gap-su-co-nha-mang-tran-an-khach-hang-khong-lo-internet-bi-cham/" class="more">Đọc thêm</a>
                                
                                </p>
								
							</div>
							
						</div>
					</div>
                </div>	
                
                
                <div class="col-sm-4" style="font-family: Arial, Helvetica, sans-serif; max-width:100%; flex: 0 0 33%;">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    
                                    <img style=" width: 350px;" src="../images/mo_new2.png" alt="" >
                                    <h4 style="font-family: Arial, Helvetica, sans-serif;">Samsung, LG, Philips, Panasonic và Zenith bị tố thông đồng tăng giá bản quyền truyền </h4>
                                    <p style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)" >Nguyên đơn là Haier, một nhà sản xuất thiết bị đến từ Trung Quốc. Ông đã sáng chế ra một công nghệ nổi tiếng khắp thế giới
                                            <a href="https://daugianhanh.vn/2017/08/31/cap-bien-aag-lai-gap-su-co-nha-mang-tran-an-khach-hang-khong-lo-internet-bi-cham/" class="more">Đọc thêm</a>
                                    
                                    </p>
                                    
                                </div>
                                
                            </div>
                        </div>
                </div>	


                    <div class="col-sm-4" style="font-family: Arial, Helvetica, sans-serif; max-width:100%; flex: 0 0 33%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                    
                                        <img style=" width: 350px;" src="../images/mo_new3.png" alt="" >
                                        <h4 style="font-family: Arial, Helvetica, sans-serif;">Thần đồng Facebook chuyển sang Google</h4>
                                        <p style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)" >Thần đồng Michael Sayman tự học lập trình khi mới 13 tuổi, thực tập tại Facebook năm 17 tuổi và trở thành nhân viên trẻ nhất của Facebook năm 18 tuổi.
                                                <a href="https://daugianhanh.vn/2017/08/31/cap-bien-aag-lai-gap-su-co-nha-mang-tran-an-khach-hang-khong-lo-internet-bi-cham/" class="more">Đọc thêm</a>
                                        
                                        </p>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>	

            		</div>
            

            <div style="margin-top: 50px; margin-left:0px" class="row" >
				
				
                    <div class="col-sm-4" style="font-family: Arial, Helvetica, sans-serif; max-width:100%; flex: 0 0 33%;">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    
                                    <img style=" width: 350px;" src="../images/mo_new4.png" alt="" >
                                    <h4 style="font-family: Arial, Helvetica, sans-serif;">Hà Nội chưa quản lý Uber, Grab như taxi</h4>
                                    <p style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)" >Dự thảo quy chế chưa đặt ra vấn đề quản lý Uber, Grab như taxi truyền thống vì đây là loại hình kinh doanh mới, đang được Chính phủ cho thí điểm (hết tháng 10)
                                            <a href="https://daugianhanh.vn/2017/08/31/cap-bien-aag-lai-gap-su-co-nha-mang-tran-an-khach-hang-khong-lo-internet-bi-cham/" class="more">Đọc thêm</a>
                                    
                                    </p>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>	
                    
                    
                    <div class="col-sm-4" style="font-family: Arial, Helvetica, sans-serif; max-width:100%; flex: 0 0 33%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        
                                        <img style=" width: 350px;" src="../images/mo_new5.png" alt="" >
                                        <h4 style="font-family: Arial, Helvetica, sans-serif;">Mặt trái của thung lũng Silicon và những điều xấu xí chưa ai từng kể về giới khởi  </h4>
                                        <p style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)" >Tại sao việc quảng bá thương hiệu và huy động vốn lại đang gây khó khăn cho việc khởi nghiệp? 
                                                <a href="https://daugianhanh.vn/2017/08/31/cap-bien-aag-lai-gap-su-co-nha-mang-tran-an-khach-hang-khong-lo-internet-bi-cham/" class="more">Đọc thêm</a>
                                        
                                        </p>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>	
    
    
                        <div class="col-sm-4" style="font-family: Arial, Helvetica, sans-serif; max-width:100%; flex: 0 0 33%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            
                                            <img style=" width: 350px;" src="../images/mo_new6.png" alt="" >
                                            <h4 style="font-family: Arial, Helvetica, sans-serif;">Samsung Connect – Trải nghiệm đáng nhớ chắp cánh cho ước mơ của trẻ em Sóc Trăng</h4>
                                            <p style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)" >Samsung Connect là một dự án nhân văn trên nền tảng công nghệ hiện đại, với mong muốn tạo nên câu chuyện truyền cảm hứng giúp trẻ em khắp Việt Nam bắt
                                                    <a href="https://daugianhanh.vn/2017/08/31/cap-bien-aag-lai-gap-su-co-nha-mang-tran-an-khach-hang-khong-lo-internet-bi-cham/" class="more">Đọc thêm</a>
                                         
                                            </p>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                        </div>	
    
                </div>

            
            </div>
            

