
	
<!-- kết quả tìm kiếm -->

		<div class="container4" style="padding: 20px;">
			
				<div  class=" container">
					<h1 style="font-weight: bold;font-family: Arial, Helvetica, sans-serif;color:darkslategrey">Kết quả tìm kiếm</h1>
					<h4 style="font-weight: bold;font-family: Arial, Helvetica, sans-serif;color:darkslategrey">Chúng tôi đã tìm thấy các mục  phù hợp với truy vấn tìm kiếm của bạn.</h4>
					<div style="margin-bottom: 40px;" class="tabs_line"><span></span></div>
					
					<ul style="display:flex;font-size: 20px;font-family: Arial, Helvetica, sans-serif;" class="list-inline orderby clearfix">

							<li ><strong>Sắp xếp bởi: </strong></li>
							
							<div  class="form-group">     
									<label style="padding-left: 5px; color:#ddd;"></label>
										<select style="margin-left: 0px;" name="uv" class="form-control">
										<option value="user_login,user_email">--- Tự chọn --</option>
										<option value="price_ace">Giá tăng</option>
										<option value="price_dec">Giá giảm</option>
										<option value="time_ace">Thời gian kết thúc giảm dần</option>
										<option value="time_dec">Thời gian kết thúc tăng dần</option>
										</select>
									</div>     
							
						</ul>
						
						<div style="margin-top: 50px;margin-left: 50px;" class="row" >
							
							
							
							<div class="col-sm-4" style="background:rgb(250, 249, 239); max-width:100%; flex: 0 0 30%;">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div  class="productinfo text-center">
												<a href="detail_product" target="_blank">
														<img src="../images/featured_6.png" alt="" >
														<h4 >5.000.000VNĐ</h4>
														<p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)" >Apple iPod shuffle</p>
														
														<div id="auctionbidform">
															<ul   class="list-group">
																<li  class="list-group-item item1">
																		<i class="fa fa-search bidhistoryicon"></i>
																		Lượt đấu giá: <strong>1 </strong>  
																		<span style="padding-left:10px ;" class="pull-right">
																			<br><small>Cao nhất</small>:  <i class="fa fa-user"></i> <a href="#">truongtuandat</a>	
																				
																		</span>
																</li>
																<li class="list-group-item item4">
																	<div class="row">

																			<span style="padding-left:40px ;" class="pull-right">
																					<small>Mua ngay:</small>:  <i class="fa fa-shopping-cart"></i> <a href="#">3000000vnđ</a>	
																						
																				</span>
																		
																	</div>
																</li>
																
																<li class="list-group-item item4">
																Đã đăng: <strong>27 Tháng Bảy, 2017 1:40 sáng</strong> <br>
																<p style="padding-left: 10px;color: red;">Còn lại:<i class="fa fa-bell"></i> <strong>0:15:10'</strong> </p>
																</li> 		 
															</ul>
														</div>
												</a>
										</div>
										
									</div>
								</div>
							</div>	


							<div class="col-sm-4" style=" max-width:100%; flex: 0 0 30%;">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div  class="productinfo text-center">
													<a href="detail_product" target="_blank">
															<img src="../images/best_1.png" alt="" >
															<h4 >3.000.000VNĐ</h4>
															<p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)" >Iphone 6 plus</p>
															
															<div id="auctionbidform">
																<ul   class="list-group">
																	<li  class="list-group-item item1">
																			<i class="fa fa-search bidhistoryicon"></i>
																			Lượt đấu giá: <strong>3 </strong>  
																			<br><span style="padding-left:10px ;" class="pull-right">
																				<small>Cao nhất</small>:  <i class="fa fa-user"></i> <a href="#">nttthuymo</a>	
																					
																			</span>
																	</li>
																	<li class="list-group-item item4">
																		<div class="row">
	
																				<span style="padding-left:40px ;" class="pull-right">
																						<small>Mua ngay:</small>:  <i class="fa fa-shopping-cart"></i> <a href="#">3500000vnđ</a>	
																							
																					</span>
																			
																		</div>
																	</li>
																	
																	<li class="list-group-item item4">
																	Đã đăng: <strong>30 Tháng Tám, 2019 8:40 sáng</strong> <br>
																	<p style="padding-left: 10px;color: red;">Còn lại:<i class="fa fa-bell"></i> <strong>0:30:10'</strong> </p>
																	</li> 		 
																</ul>
															</div>
													</a>
											</div>
											
										</div>
									</div>
								</div>
								
								
								<div class="col-sm-4" style="background:rgb(250, 249, 239); max-width:100%; flex: 0 0 30%;">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div  class="productinfo text-center">
														<a href="detail_product" target="_blank">
																<img style="height: 116px;" src="../images/featured_1.png" alt="" >
																<h4 >12.000.000VNĐ</h4>
																<p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)" >Sony MDRZX310W</p>
																
																<div id="auctionbidform">
																	<ul   class="list-group">
																		<li  class="list-group-item item1">
																				<i class="fa fa-search bidhistoryicon"></i>
																				Lượt đấu giá: <strong>10 </strong>  <br>
																				<span style="padding-left:10px ;" class="pull-right">
																					<small>Cao nhất</small>:  <i class="fa fa-user"></i> <a href="#">haanhtuan</a>	
																						
																				</span>
																		</li>
																		<li class="list-group-item item4">
																			<div class="row">
		
																					<span style="padding-left:40px ;" class="pull-right">
																							<small>Mua ngay:</small>:  <i class="fa fa-shopping-cart"></i> <a href="#">13500000vnđ</a>	
																								
																						</span>
																				
																			</div>
																		</li>
																		
																		<li class="list-group-item item4">
																		Đã đăng: <strong>12 Tháng Mười, 2019 12:19 sáng</strong> <br>
																		<p style="padding-left: 10px;color: red;">Còn lại:<i class="fa fa-bell"></i> <strong>1:30:10'</strong> </p>
																		</li> 		 
																	</ul>
																</div>
														</a>
												</div>
												
											</div>
										</div>
									</div>	
			
							
							
								
						</div>
						
					</div>
					
			
				</br></br>
			
					<div class="container">
						
							<div style="margin-top: 50px;margin-left: 50px;" class="row" >
							
							
							
									<div class="col-sm-4" style=" max-width:100%; flex: 0 0 30%;">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div  class="productinfo text-center">
														<a href="detail_product" target="_blank">
																<img src="../images/featured_6.png" alt="" >
																<h4 >5.000.000VNĐ</h4>
																<p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)" >Apple iPod shuffle</p>
																
																<div id="auctionbidform">
																	<ul   class="list-group">
																		<li  class="list-group-item item1">
																				<i class="fa fa-search bidhistoryicon"></i>
																				Lượt đấu giá: <strong>1 </strong>  
																				<span style="padding-left:10px ;" class="pull-right">
																					<br><small>Cao nhất</small>:  <i class="fa fa-user"></i> <a href="#">truongtuandat</a>	
																						
																				</span>
																		</li>
																		<li class="list-group-item item4">
																			<div class="row">
		
																					<span style="padding-left:40px ;" class="pull-right">
																							<small>Mua ngay:</small>:  <i class="fa fa-shopping-cart"></i> <a href="#">3000000vnđ</a>	
																								
																						</span>
																				
																			</div>
																		</li>
																		
																		<li class="list-group-item item4">
																		Đã đăng: <strong>27 Tháng Bảy, 2017 1:40 sáng</strong> <br>
																		<p style="padding-left: 10px;color: red;">Còn lại:<i class="fa fa-bell"></i> <strong>0:15:10'</strong> </p>
																		</li> 		 
																	</ul>
																</div>
														</a>
												</div>
												
											</div>
										</div>
									</div>	
		
		
									<div class="col-sm-4" style=" max-width:100%; flex: 0 0 30%;">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div  class="productinfo text-center">
															<a href="detail_product" target="_blank">
																	<img src="../images/best_1.png" alt="" >
																	<h4 >3.000.000VNĐ</h4>
																	<p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)" >Iphone 6 plus</p>
																	
																	<div id="auctionbidform">
																		<ul   class="list-group">
																			<li  class="list-group-item item1">
																					<i class="fa fa-search bidhistoryicon"></i>
																					Lượt đấu giá: <strong>3 </strong>  
																					<br><span style="padding-left:10px ;" class="pull-right">
																						<small>Cao nhất</small>:  <i class="fa fa-user"></i> <a href="#">nttthuymo</a>	
																							
																					</span>
																			</li>
																			<li class="list-group-item item4">
																				<div class="row">
			
																						<span style="padding-left:40px ;" class="pull-right">
																								<small>Mua ngay:</small>:  <i class="fa fa-shopping-cart"></i> <a href="#">3500000vnđ</a>	
																									
																							</span>
																					
																				</div>
																			</li>
																			
																			<li class="list-group-item item4">
																			Đã đăng: <strong>30 Tháng Tám, 2019 8:40 sáng</strong> <br>
																			<p style="padding-left: 10px;color: red;">Còn lại:<i class="fa fa-bell"></i> <strong>0:30:10'</strong> </p>
																			</li> 		 
																		</ul>
																	</div>
															</a>
													</div>
													
												</div>
											</div>
										</div>
										
										
										<div class="col-sm-4" style=" max-width:100%; flex: 0 0 30%;">
												<div class="product-image-wrapper">
													<div class="single-products">
														<div  class="productinfo text-center">
																<a href="detail_product" target="_blank">
																		<img style="height: 116px;" src="../images/featured_1.png" alt="" >
																		<h4 >12.000.000VNĐ</h4>
																		<p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)" >Sony MDRZX310W</p>
																		
																		<div id="auctionbidform">
																			<ul   class="list-group">
																				<li  class="list-group-item item1">
																						<i class="fa fa-search bidhistoryicon"></i>
																						Lượt đấu giá: <strong>10 </strong>  <br>
																						<span style="padding-left:10px ;" class="pull-right">
																							<small>Cao nhất</small>:  <i class="fa fa-user"></i> <a href="#">haanhtuan</a>	
																								
																						</span>
																				</li>
																				<li class="list-group-item item4">
																					<div class="row">
				
																							<span style="padding-left:40px ;" class="pull-right">
																									<small>Mua ngay:</small>:  <i class="fa fa-shopping-cart"></i> <a href="#">13500000vnđ</a>	
																										
																								</span>
																						
																					</div>
																				</li>
																				
																				<li class="list-group-item item4">
																				Đã đăng: <strong>12 Tháng Mười, 2019 12:19 sáng</strong> <br>
																				<p style="padding-left: 10px;color: red;">Còn lại:<i class="fa fa-bell"></i> <strong>1:30:10'</strong> </p>
																				</li> 		 
																			</ul>
																		</div>
																</a>
														</div>
														
													</div>
												</div>
											</div>	
					
									
									
										
								</div>
								
							</div>
	
					<div style="display: flex; justify-content: center;">
							<div style="display: flex;justify-content: center;;align-items: center ;margin-top: 50px " class="pagination center">
									<a href="#">&laquo;</a>
									<a href="#">1</a>
									<a class="active" href="#">2</a>
									<a href="#">3</a>
									
									<a href="#">&raquo;</a>
								  </div>

					</div>
					
					
		</div>
		