<style>
        .glyphicon {
            font-size: 30px;
            color: #4267B2;
            cursor: pointer;
            user-select: none;
        }
        
        .glyphicon:hover {
            color: grey;
        }
    </style>

<div class="container">
                    <table>
                        <tr>
                            <td>
                                <h3>Danh sách sản phẩm của bạn đang đăng & còn hạn</h3>
                            </td>
                            <td><button type="submit" class="btn btn-success" style="margin-left: 30px;">Thêm mới</button></td>
                        </tr>

                    </table>
                    <hr>

                    <div class="row">

                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap6.png" alt="">
                                            <h4>13.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Transcend T.Sonic</p>
                                            <p><i class="fas fa-hammer"></i>2 lượt đấu giá</p>


                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap7.png" alt="">
                                            <h4>11.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Nokia 3310(2017)</p>
                                            <p><i class="fas fa-hammer"></i>5 lượt đấu giá</p>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap8.png" alt="">
                                            <h4>2.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Huawei MediaPad</p>
                                            <p><i class="fas fa-hammer"></i>3 lượt đấu giá</p>


                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap9.png" alt="">
                                            <h4>13.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Easy Polo Black </p>
                                            <p><i class="fas fa-hammer"></i>1 lượt đấu giá</p>


                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap10.png" alt="">
                                            <h4>15.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Xiaomi Redmi Note 4</p>
                                            <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>


                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                </br>
                </br>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap11.png" alt="">
                                            <h4>15.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Xiaomi Redmi Note 4</p>
                                            <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>


                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap12.png" alt="">
                                            <h4>12.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Samsung Charm Gold</p>
                                            <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>


                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="detail_product" target="_blank">
                                            <img src="../images/mo_lap13.png" alt="">
                                            <h4>17.000.000VNĐ</h4>
                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Huawei MediaPad T3</p>
                                            <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>


                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="container">
                    <table>
                        <tr>
                            <td>
                                <h3>Danh sách sản phẩm của bạn đã có người thắng đấu giá</h3>
                            </td>
                        </tr>

                    </table>
                    <hr>


                    <table class="table">
                        <thead>
                            <tr>
                                <th class="bg-info" scope="col">Sản phẩm</th>
                                <th class="bg-info" scope="col">Người thắng</th>
                                <th class="bg-info" scope="col">Giá</th>
                                <th class="bg-info" scope="col" colspan="3">Nhận xét</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="">Điện thoại Iphone XS max chất lượng thời đại</a></th>
                                <td>****Quang</td>
                                <td>3450 0000 vnđ </td>
                                <td><i onclick="myFunction(this)" class="glyphicon glyphicon-thumbs-up"></i></td>
                                <td><button type="button" class="btn btn-success">Thêm nhận xét</button></td>
                                <td><button type="button" class="btn btn-danger">Hủy</button></td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="">Xiaomi Redmi Note 4</a></th>
                                <td>****Minh</td>
                                <td>5400 0000 vnđ </td>
                                <td><i onclick="myFunction(this)" class="glyphicon glyphicon-thumbs-up"></i></td>
                                <td><button type="button" class="btn btn-success">Thêm nhận xét</button></td>
                                <td><button type="button" class="btn btn-danger">Hủy</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>