

<div class="container">


            <!-- Them san pham -->
            <hr>
            
            <h3>Thêm sản phẩm mới</h3>
            <form>
                <div class="form-group">
  
                    <p style="color: black;">Tên sản phẩm</p>
                    
                    <input type="text" class="form-control" id="proName" placeholder="Nhập tên sản phẩm">
                </div>
                <div class="form-group">
                    <p style="color: black;">Giá khỏi điểm</p>
                    
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Vd: 3000000 vnđ">
                </div>
                <div class="form-group">
                    <p style="color: black;">Bước giá</p>
                    
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Vd: 10%">
                </div>
                <div class="form-group">
                    <p style="color: black;">Giá mua ngay</p>
                    
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Vd: 3500000 vnđ">
                </div>
                <div class="form-group">
            <!-- <label for="exampleInputPassword1">Mô tả sản phẩm</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Vd: Xuất xứ ..."> -->
                   
                    <p style="color: black;">Mô tả sản phẩm</p>
                    {{!-- <br> --}}
                        <form action="" method="post">
                            <select onchange="createEditor( this.value );" id="languages" style="margin-left: 0px; color: black; ">
                            <option value="en-gb">English (United Kingdom)</option>
                            <option value="zh-cn">Chinese Simplified</option>
                            <option value="zh">Chinese Traditional</option>
                            <option value="vi">Vietnamese</option>
                            </select>
                            <br>

                            <textarea id="editor1" name="editor1"  cols="80" rows="10">
                                <p>Hello <strong>CKEditor</strong></p>
                            </textarea>




                            <script>
                            var editor;

                            function createEditor( languageCode ) {
                                if ( editor )
                                    editor.destroy();

                                // Thay thế <textarea id="editor1" với một CKEditor, sử dụng cấu hình mặc định
                                editor = CKEDITOR.replace( 'editor1', {
                                    language: languageCode,

                                    on: {
                                        instanceReady: function() {

                                            // Chờ cho tới khi editor sẵn sàng để sét language.
                                            var languages = document.getElementById( 'languages' );
                                            languages.value = this.langCode;
                                            languages.disabled = false;
                                        }
                                    }
                                });
                            }

                            // Tại thời điểm bắt đầu, tải ngôn ngữ mặc định.
                            createEditor( '' );

                            </script>

                            <!-- <script>

                                // Replace the <textarea id="editor1"> with an CKEditor
                                // instance, using default configurations.
                                CKEDITOR.replace( 'editor1', {
                                    uiColor: '#0E8CE4',
                                    // toolbar: [
                                    //     [ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink' ],
                                    //     [ 'FontSize', 'TextColor', 'BGColor' ]
                                    // ]
                                });

                            </script> -->

                        </form>

                </div>
            <form>
                 <input type="checkbox"  name="vd1" value="2">
            <div class="form-group">
                
                <p style="color: black;">Ảnh sản phẩm 1</p>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
                <p style="color: black;">Ảnh sản phẩm 2</p>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
                <p style="color: black;">Ảnh sản phẩm 3</p>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
        </form>

        <div class="form-check" style="margin-left: 10px;margin-top:30px">
            {{!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> --}}
            {{!-- <input type="checkbox"  name="vd1" value="2">
            <p class="form-check-label" for="exampleCheck1">Có tự động gia hạn không?</p> --}}
            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
             <label for="remember-me" class="label-agree-term"><span><span></span></span>Có tự động gia hạn không?</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>