<!-- Chi tiết sản phẩm -->
	<div class="main">
        <div class="container">
                <div class="core_middle_wrap"><div id="core_ajax_callback"></div>	
                    
              
                <hr> 
                <ul style="font-size: 20px;padding: 10px;" class="nav nav-tabs container2" id="Tabs">
                        <li style="padding-left:30px ;" class="active"><a href="#t1" data-toggle="tab" aria-expanded="true">Ra giá thành công</a></li>
                        <li style="padding-left:30px ;" class=""><a href="#t2" data-toggle="tab" aria-expanded="false"> Người mua bị từ chối ra giá </a></li> 
                        <li style="padding-left:30px ;"  class=""><a href="#t3" data-toggle="tab" aria-expanded="false">Đấu giá kết thúc, không có người mua </a></li>
                        <li style="padding-left:30px ;"  class=""><a href="#t4" data-toggle="tab" aria-expanded="false">Đấu giá kết thúc </a></li>
                        
                       </ul>
                 
                <div class="tab-content">
                        
                        <div style="margin:50px;margin-top: 20px;" class="tab-pane active in" id="t1">
                             <div class="core_post_content">
                                    <div class="tab-content">
                        
                                            <div style="margin-top: 50px; color: darkslategrey;" class="tab-pane active in" id="t1" >
                                                    <div class="row">
                                                            <div class="col-lg-10 offset-lg-1">
                                                                <div class="contact_form_container">
                                                                    <div style="font-family: Arial, Helvetica, sans-serif;" class="contact_form_title">Gửi email báo ra giá thành công</div>
                                            
                                                                    <form action="#" id="contact_form">
                                                                        <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
                                                                            <input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Người bán" required="required" data-error="Nhập lại email">
                                                                            <input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="Người ra giá" required="required" data-error="Nhập lại email">
                                                                            <input type="text" id="contact_form_phone" class="contact_form_phone input_field" placeholder="Người giữ giá trước đó" data-error="Nhập lại email">
                                                                        </div>
                                                                        <div class="contact_form_text">
                                                                            <textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Tin nhắn" required="required" data-error="Vui lòng nhập tin nhắn"></textarea>
                                                                        </div>
                                                                        <div style="display: flex; justify-content: center;" class="contact_form_button">
                                                                                <button type="submit" class="button contact_submit_button">Gửi email</button>
                                                                            </div>
                                                                    </form>
                                            
                                                                    </div>
                                                                </div>
                                                            </div>
                                        
                                                    </div>
                                            </div>
                    
                             </div>
                        </div>
                        
                        <div style="margin:50px;margin-top: 20px;" class="tab-pane" id="t2">
                                <div class="core_post_content">
                                        <div class="tab-content">
                            
                                                <div style="margin-top: 50px; color: darkslategrey;" class="tab-pane active in" id="t1" >
                                                        <div class="row">
                                                                <div class="col-lg-10 offset-lg-1">
                                                                    <div class="contact_form_container">
                                                                        <div style="font-family: Arial, Helvetica, sans-serif;" class="contact_form_title">Gửi email báo người mua bị từ chối ra giá</div>
                                                
                                                                        <form action="#" id="contact_form">
                                                                            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
                                                                                <input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Người mua" required="required" data-error="Nhập lại email">
                                                                                </div>
                                                                            <div class="contact_form_text">
                                                                                <textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Tin nhắn" required="required" data-error="Vui lòng nhập tin nhắn"></textarea>
                                                                            </div>
                                                                            <div style="display: flex; justify-content: center;" class="contact_form_button">
                                                                                    <button type="submit" class="button contact_submit_button">Gửi email</button>
                                                                                </div>
                                                                        </form>
                                                
                                                                        </div>
                                                                    </div>
                                                                </div>
                                            
                                                        </div>
                                                </div>


                        </div>
                    </div>

                    <div style="margin:50px;margin-top: 20px;" class="tab-pane" id="t3">
                            <div class="core_post_content">
                                    <div class="tab-content">
                        
                                            <div style="margin-top: 50px; color: darkslategrey;" class="tab-pane active in" id="t1" >
                                                    <div class="row">
                                                            <div class="col-lg-10 offset-lg-1">
                                                                <div class="contact_form_container">
                                                                    <div style="font-family: Arial, Helvetica, sans-serif;" class="contact_form_title">Gửi email báo đấu giá kết thúc, không có người mua </div>
                                            
                                                                    <form action="#" id="contact_form">
                                                                        <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
                                                                            <input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Người bán" required="required" data-error="Nhập lại email">
                                                                            </div>
                                                                        <div class="contact_form_text">
                                                                            <textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Tin nhắn" required="required" data-error="Vui lòng nhập tin nhắn"></textarea>
                                                                        </div>
                                                                        <div style="display: flex; justify-content: center;" class="contact_form_button">
                                                                                <button type="submit" class="button contact_submit_button">Gửi email</button>
                                                                            </div>
                                                                    </form>
                                            
                                                                    </div>
                                                                </div>
                                                            </div>
                                        
                                                    </div>
                                            </div>


                    </div>
                </div>

                <div style="margin:50px;margin-top: 20px;" class="tab-pane active in" id="t4">
                        <div class="core_post_content">
                               <div class="tab-content">
                   
                                       <div style="margin-top: 50px; color: darkslategrey;" class="tab-pane active in" id="t1" >
                                               <div class="row">
                                                       <div class="col-lg-10 offset-lg-1">
                                                           <div class="contact_form_container">
                                                               <div style="font-family: Arial, Helvetica, sans-serif;" class="contact_form_title">Gửi email báo đấu giá kết thúc</div>
                                       
                                                               <form action="#" id="contact_form">
                                                                   <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between ">
                                                                       <input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Người bán" required="required" data-error="Nhập lại email">
                                                                       <input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="Người thắng" required="required" data-error="Nhập lại email">
                                                                       
                                                                    </div>
                                                                   <div class="contact_form_text">
                                                                       <textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Tin nhắn" required="required" data-error="Vui lòng nhập tin nhắn"></textarea>
                                                                   </div>
                                                                   <div style="display: flex; justify-content: center;" class="contact_form_button">
                                                                           <button type="submit" class="button contact_submit_button">Gửi email</button>
                                                                       </div>
                                                               </form>
                                       
                                                               </div>
                                                           </div>
                                                       </div>
                                   
                                               </div>
                                       </div>
               
                        </div>
                   </div>

                    
                </div>
        </div>
 </div>