 <!-- Chi tiết sản phẩm -->
            <div class="main">
                <div class="container">
                    <div class="core_middle_wrap">
                        <div id="core_ajax_callback"></div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-10">
                                <h2 style="font-weight: bold;font-family: Arial, Helvetica, sans-serif;color:darkgrey"><a href="#"><span>Điện thoại Iphone XS max chất lượng thời đại</span></a></h1>

                                    <span class="wlt_shortcode_category"><a href="#" rel="tag">Điện thoại thông minh</a></span> / / <span class="wlt_shortcode_favs"><a class="list_favorites_add " href="#"><span>Thêm vào Yêu thích</span></a>
                                    </span> / <i class="fa fa-signal"></i> <span class="wlt_shortcode_hits">639</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="singleimg text-center">
                                    <a href="#" data-gal="prettyPhoto"><img src="../images/mo_iphone.PNG" alt="" class="wlt_thumbnail img-responsive img-responsive"></a>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div id="auctionbidform">
                                    <ul class="list-group">
                                        <ul style="font-size: 20px;" class="list-group">

                                            <li style="color: rgb(107, 185, 29);" class="list-group-item item1">
                                                <i class=" bidhistoryicon"></i> Giá hiện tại: <strong>3000 0000 vnđ </strong>

                                            </li>
                                            <li class="list-group-item item1">
                                                <i class="fa fa-search bidhistoryicon"></i> Lượt đấu giá: <strong>3 </strong>
                                                <span style="padding-left:80px ;" class="pull-right">
                                                        <small>Mua ngay:</small>:  <i style="color:aquamarine;" class="fa fa-shopping-cart"></i> <a href="#">3500000vnđ</a>	
                                                </span>
                                            </li>
                                            <li class="list-group-item item1">

                                                <span class="pull-right">
                                                        <small>Cao nhất</small>:  <i style="color:aquamarine;" class="fa fa-user"></i> <a href="#">nttthuymo</a>	
                                   
                                                </span>
                                                <i style="padding-left: 40px;color: yellow;" class="fa fa-star bidhistoryicon"></i> Đánh giá: 3023
                                            </li>

                                            <li class="list-group-item item4">
                                                <div class="row">

                                                    <span style="padding-left:10px ;" class="pull-right">
                                                                       
                                                                    <span  class="pull-right">
                                                                            <small>Người bán</small>:  <i style="color:aquamarine;" class="fa fa-user"></i> <a href="#">hanhuyvu</a>	
                                                                                
                                                                        </span>

                                                    <i style="padding-left: 40px;color: yellow;" class="fa fa-star bidhistoryicon"></i> Đánh giá: 2023
                                                    </span>

                                                </div>
                                            </li>

                                            <li class="list-group-item item4">
                                                Đã đăng: 30 Tháng Tám, 2019 8:40 sáng <br>
                                                <p style="font-size: 20px; color: red;">Còn lại:<i class="fa fa-bell"></i> 0:30:10'</p>
                                            </li>
                                        </ul>
                                        <hr>
                                        <div style="display: flex; justify-content: center;">

                                            <input type="submit" value="Đấu giá" class="btn btn-primary btn-lg" style="width:40%; margin: 30px;">
                                            <input type="submit" value="Yêu thích" class="btn btn-danger btn-lg" style="width:40%; margin: 30px;">


                                        </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <ul class="nav nav-tabs container" id="Tabs">
                            <li style="padding-left:30px ;" class="active"><a href="#t1" data-toggle="tab" aria-expanded="true">Mô tả</a></li>
                            <li style="padding-left:30px ;" class=""><a href="#t2" data-toggle="tab" aria-expanded="false"> Chi tiết </a></li>
                            <li style="padding-left:30px ;" class=""><a href="#t3" data-toggle="tab" aria-expanded="false">Gợi ý</a></li>
                        </ul>

                        <div class="tab-content">

                            <div style="margin:50px;margin-top: 20px;" class="tab-pane active in" id="t1">
                                <div class="core_post_content">
                                    <p style="font-size: 17px;color:darkslategrey;">Mã sản phẩm: ORDERQC<br> Thương hiệu: Thương hiệu khác<br> Tình trạng: Mới<br> Màu sắc: Đỏ tía, hồng, bạc, vàng</p>
                                </div>
                            </div>

                            <div style="margin:50px;margin-top: 20px;" class="tab-pane" id="t3">
                                <div class="container">
                                    <div class="row">

                                        <div class="col-sm-2" style=" max-width:20%; flex: 0 0 20%;">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <a href="detail_product" target="_blank">
                                                            <img src="../images/new_2.jpg" alt="">
                                                            <h4>3.000.000VNĐ</h4>
                                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Transcend T.Sonic</p>
                                                            <p><i class="fas fa-hammer"></i>2 lượt đấu giá</p>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <a href="detail_product" target="_blank">
                                                            <img src="../images/new_6.jpg" alt="">
                                                            <h4>1.000.000VNĐ</h4>
                                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Nokia 3310(2017)</p>
                                                            <p><i class="fas fa-hammer"></i>5 lượt đấu giá</p>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <a href="detail_product" target="_blank">
                                                            <img src="../images/new_10.jpg" alt="">
                                                            <h4>2.000.000VNĐ</h4>
                                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Huawei MediaPad</p>
                                                            <p><i class="fas fa-hammer"></i>3 lượt đấu giá</p>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <a href="detail_product" target="_blank">
                                                            <img src="../images/new_2.jpg" alt="">
                                                            <h4>3.000.000VNĐ</h4>
                                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Easy Polo Black </p>
                                                            <p><i class="fas fa-hammer"></i>1 lượt đấu giá</p>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <a href="detail_product" target="_blank">
                                                            <img src="../images/best_1.png" alt="">
                                                            <h4>5.000.000VNĐ</h4>
                                                            <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Xiaomi Redmi Note 4</p>
                                                            <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                </div>


                            </div>

                            <div class="tab-pane fade" id="t2">
                                <!-- START COMMENT BLOCK -->
                                <div class="clearfix"></div>
                                <div style="display: inline-flex;">
                                    <div class="col-sm-4" style="max-width:100%; flex: 0 0 50%;">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="../images/mo_iphone1.PNG">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="max-width:100%; flex: 0 0 50%;">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="../images/mo_iphone2.PNG" style="height: 210px;width: 200px;">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="max-width:100%; flex: 0 0 50%;">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="../images/mo_iphone3.PNG" style="height: 210px;;width: 250px;">
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>