<div class="newsletter">
              
                    <hr>

                    <div class="container">
                        <p>Danh sách sản phẩm yêu thích</p>
                        <div class="row">

                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/mo_lap6.png" alt="">
                                                <h4>13.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Transcend T.Sonic</p>
                                                <p><i class="fas fa-hammer"></i>2 lượt đấu giá</p>
                                                <p style="color: red;"><i class="fa fa-close" style="font-size:20px;color:red"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>




                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/mo_lap7.png" alt="">
                                                <h4>11.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Nokia 3310(2017)</p>
                                                <p><i class="fas fa-hammer"></i>5 lượt đấu giá</p>
                                                <p><i class="fa fa-heart" style="color: crimson;"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/mo_lap8.png" alt="">
                                                <h4>2.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Huawei MediaPad</p>
                                                <p><i class="fas fa-hammer"></i>3 lượt đấu giá</p>
                                                <p style="color: red;"><i class="fa fa-close" style="font-size:20px;color:red"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/mo_lap9.png" alt="">
                                                <h4>13.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Easy Polo Black </p>
                                                <p><i class="fas fa-hammer"></i>1 lượt đấu giá</p>
                                                <p style="color: red;"><i class="fa fa-close" style="font-size:20px;color:red"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>




                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/mo_lap10.png" alt="">
                                                <h4>15.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Xiaomi Redmi Note 4</p>
                                                <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                                <p style="color: red;"><i class="fa fa-close" style="font-size:20px;color:red"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>


                    </br>
                    </br>

                    <div class="container">
                        <div class="row">


                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/mo_lap11.png" alt="">
                                                <h4>15.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Xiaomi Redmi Note 4</p>
                                                <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                                <p style="color: red;"><i class="fa fa-close" style="font-size:20px;color:red"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/mo_lap12.png" alt="">
                                                <h4>12.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Samsung Charm Gold</p>
                                                <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                                <p style="color: red;"><i class="fa fa-close" style="font-size:20px;color:red"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/mo_lap13.png" alt="">
                                                <h4>17.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Huawei MediaPad T3</p>
                                                <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                                <p style="color: red;"><i class="fa fa-close" style="font-size:20px;color:red"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/mo_lap14.png" alt="">
                                                <h4>18.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Opple Neo3</p>
                                                <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                                <p style="color: red;"><i class="fa fa-close" style="font-size:20px;color:red"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/new_6.jpg" alt="">
                                                <h4>1.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Nokia 3310(2017)</p>
                                                <p><i class="fas fa-hammer"></i>5 lượt đấu giá</p>
                                                <p style="color: red;"><i class="fa fa-close" style="font-size:20px;color:red"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/new_10.jpg" alt="">
                                                <h4>2.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Huawei MediaPad</p>
                                                <p><i class="fas fa-hammer"></i>3 lượt đấu giá</p>
                                                <p style="color: red;"><i class="fa fa-close" style="font-size:20px;color:red"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/new_2.jpg" alt="">
                                                <h4>3.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Easy Polo Black </p>
                                                <p><i class="fas fa-hammer"></i>1 lượt đấu giá</p>
                                                <p style="color: red;"><i class="fa fa-close" style="font-size:20px;color:red"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>




                            <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%;">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="detail_product" target="_blank">
                                                <img src="../images/mo_lap15.png" alt="">
                                                <h4>19.000.000VNĐ</h4>
                                                <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color:rgb(3, 17, 17)">Iphone 6X</p>
                                                <p><i class="fas fa-hammer"></i>0 lượt đấu giá</p>
                                                <p style="color: red;"><i class="fa fa-close" style="font-size:20px;color:red"></i>Bỏ yêu thích</p>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>



            </br>
            </br>



    </div>