<div class="card shadow mb-4">
  <h4 class="card-header">
    Danh mục mới
  </h4>
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        {{!-- <label for="txtCatName">Category</label> --}}
        <input type="text" class="form-control" id="txttype" name="type" placeholder="Nhập tên danh mục mới"
          autofocus>
      </div>
      <a class="btn btn-outline-primary" href="/admin/categories" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Danh sách
      </a>
      <button type="submit" class="btn btn-outline-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu
      </button>
    </form>
  </div>
 
</div>